@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  
}

.container{
    margin: 0 114px;
    padding: 0 15px;
}

.navbar_wrapper{
    position: sticky;
    top: 0;
}

/* offer  */
.offer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 0.5px;

}

.offer a{
    color: #ffcc00;
    text-decoration: none;
    
}

.offer a:hover{
    text-decoration: underline;
}

/* nav  */
nav{
    background-color: white;
    color: black;
    padding:15px 130px;
    display: flex;
    justify-content: space-between;
}

.nav_items{
    display: flex;
    gap: 40px;
    font-size: 17px;
    font-weight: bolder;
}

.nav_items ul{
    display: flex;
    gap: 40px;
}

.nav_items ul li{
    list-style: none;
}
.nav_items ul li a{
    text-decoration: none;
    color: black;
}

.nav_items ul li a:hover{
    color: #fcb900;
}

.btn{
    background-color: black;
    color: white;
    padding: 10px 40px;
    font-size: 17px;
    border-radius: 14px;
    font-weight: bolder;
    cursor: pointer;
}

/* main  */
main{
    height: calc(100vh - 60px);
    display: flex;
}

.banner_text{
    background-color: #ffcc00;
    padding-left: 130px;
    padding-top: 80px;
    padding-right: 20px;
}

.banner_text h1{
    font-size: 68px;
    line-height: 1.2em;
    font-weight: 900;
}

.banner_text p{
    font-size: 28px;
    line-height: 1.6em;
}

.banner_img{
    background-color: white;
    padding-top: 50px;
}

/* next section  */

.products_wrapper{
    line-height: 1.6em;
    letter-spacing: 0.02em;
    background-color: rgba(235, 248, 254, 0.694);
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.cards{
    display: flex;
    gap: 30px;
}

.card_coloumn2{
    margin-top: 100px;
}

.card{
    padding: 28px;
    width: 230px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.333);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.267);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.42);
    margin-bottom: 30px;
}




.card a{
    color: black;
    text-decoration: none;
    
    
}

.card h3{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}

.sub_topic{
    margin: 0;
    color: #aaaaaa;
    margin-bottom: 20px;
}

.product_text{
    padding-left: 50px;
    padding-right: 15px;
}

.product_text h2{

 font-size: 47px;
line-height: 1.2em;
font-weight: 900;
}

.product_text p{
    font-size: 28px;
    line-height: 1.6em;
}

/* longterm_Bussiness  */
.longterm_Bussiness{
    display: flex;
    gap: 100px;
    padding: 200px 0;
}

.longterm_text h2{
    font-size: 47px;
line-height: 1.2em;
font-weight: 900;
}

.longterm_text{
    font-size: 20px;
    line-height: 1.7em;
}

/* values  */

.values_wrapper{
    background-color: #f9f9f9;
    padding: 90px 0;
}

.value_cardswrapper{
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.value_cardswrapper h2{
    font-size: 47px;
line-height: 1.2em;
font-weight: 900;
}

.fontsize{
    font-size: 25px;
    margin-top: 0;
}

.value_card{
    padding: 28px;
    border: 2px solid black;
    border-radius: 14px;
    width: 330px;
}

.value_text{
    width: 390px;
}

.value_card h4{
    font-weight: 800;
    font-size: 21px;
    margin-bottom: 0;
    margin-top: 0;
}

.value_card p{
    line-height: 1.4em;
    font-size: 18px;
}

/* team  */
.team_imgwrapper{
    padding: 90px 0;
    text-align: center;
}

.team_imgwrapper h2{
    font-size: 47px;
    line-height: 1.2em;
    font-weight: 900;
    margin-bottom: 20px;
}

.team_imgwrapper p{
    font-size: 25px;
    line-height: 1.6em;
    margin: 0;
}

.para_style p{
    font-size: 20px;
    line-height: 1.7em;
}

.team_btn{
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 16px;
    font-weight: bolder;
    cursor: pointer;
}

/* company_numbers  */
.company_numbers{
    padding: 90px 0;

}

.numbercard_wrapper{
    display: flex;
    gap: 30px;
}

.number_card{
    padding: 30px 0;
    text-align: center;
    background-color: #ffcc00;
    width: 320px;
    border-radius: 18px;
}

.number_card h1{
    font-size: 75px;
    line-height: 1em;
    color: #000000;
    font-weight: 900;
    margin: 0;
    margin-top: 10px;
}

.number_card p{
    font-size: 20px;
    line-height: 1.7em;
    margin: 0;
}

.top_align{
    margin-top: 48px;
}

.bottom_align{
    margin-bottom: 48px;
}

.companynum_text{
    margin-left: 150px;
    margin-bottom: 100px;
}

.companynum_text h2{
font-size: 47px;
    line-height: 1.2em;
    margin: 0;
}

.companynum_text p{

    font-size: 25px ;
    line-height: 1.6em ;
    margin: 0;
}

/* Awards  */
.Awards{
    padding: 90px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.Awards h2{
    font-size: 47px;
    line-height: 1.2em;
    font-weight: 800;
}

/* footer  */
.footer_covai{
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
}


.footer_covai h5{
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 800;
    letter-spacing: 0.025em;

}

.footer_covai ul li{
    margin-bottom: 10px;
    font-size: 18px;
}
.footer_covai a:hover{
    color: #fcb900;
    text-decoration: underline;
}

.company_linkswrapper2 a{
    font-size: 18px;
}

.company_linkswrapper2 ul{
    margin-top: 40px
}
.company_linkswrapper2 ul li{
    margin-bottom: 10px;
}

.partner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.partner ul{
    padding-inline-start: 0;
}

.social_iconswrapper{
    display: flex;
    gap: 20px;
    
}

a{
    text-decoration: none;
    color: black;
}

ul{
    padding-inline-start: 0;

}

li{
    list-style: none;
}

.social_icons{
    padding: 12px;
    background-color: #F7F7F7;
    border-radius: 12px;
    margin-top: 25px;
}

.social_icons:hover{
    background-color: #fcb900;
}

.company_linkswrapper{
}

.company_links{
    display: flex;
    flex-direction: column;
}

.contact_item{
    margin-bottom: 40px;
}
.contact ul li{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

/* copyright  */

.footer_bottom{

    border-top: 1px solid #ececec;
}
.copyright{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright a:hover{
    color: #fcb900;
    text-decoration: underline;
}

.copyright_items{
    display: flex;
    gap: 20px;
}